.esdtBalance {
  background: url('rewards.a428eba1.png') 50% no-repeat,linear-gradient(153.43deg,#066bb5, #76b8da);
  background-color: rgb(232, 232, 232);
  filter: grayscale(0.75);
}

.esdtBalanceSvg {
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
}